<ul>
  <li><%= link_to 'ホーム', root_path %></li>
  <li><%= link_to '話題を検索', '#' %></li>
  <li><%= link_to '通知', '#' %></li>
  <li><%= link_to 'メッセージ', '#' %></li>
  <li><%= link_to 'ブックマーク', '#' %></li>
  <li><%= link_to 'リスト', '#' %></li>
  <li><%= link_to 'プロフィール', '#' %></li>
  <li><%= link_to 'もっと見る', '#' %></li>
  <li class="tweet-button"><%= link_to 'ツイートする', new_tweet_path %></li>
</ul>
