<h1>ツイート編集</h1>

<%= form_with model: @tweet, data: { turbo: false } do |form| %>  <!-- 編集用フォーム -->
  <div>
    <%= form.label :message %><br>
    <%= form.text_area :message %>  <!-- メッセージ編集フィールド -->
  </div>

  <div>
    <%= form.submit "ツイートを更新" %>  <!-- 更新 -->
  </div>
<% end %>

<%= link_to '戻る', tweet_path(@tweet) %>  <!-- 戻る -->

<% if @tweet.errors.any? %>  <!-- エラーメッセージ表示 -->
  <div id="error_explanation">
    <h2><%= pluralize(@tweet.errors.count, "エラー") %>が発生しました:</h2>
    <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= flash[:alert] %>
