<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="container">
      <div id="sidebar">
        <%= render "tweets/sidebar" %>
      </div>
      <div id="content">
        <div id="header">
          <%= render "tweets/header" %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>

</html>
